@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');

.heroSectionContainer,
.heroSectionContainer * {
  box-sizing: border-box;
}
.heroSectionContainer {
    position: relative;
    width: 100%;
    height: 825px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.heroBackground {
  background: #ffffff;
  width: 100%; 
  height: 100%; 
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; 
}
.donateButtonFrame {
  background: #78c51c;
  border-radius: 15px;
  padding: 11px 27px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 66px;
  position: absolute;
  left: 275px;
  top: 377px;
  cursor: pointer; 
}

.donateButtonFrame:hover {
    background: #2A6F2B; 
}

.donateButtonText {
  color: #f7fafc;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.donateButtonLink{
  text-decoration: none;
}

.heroImageOne {
  border-radius: 30px;
  border-style: solid;
  border-color: #043f2e;
  border-width: 5px;
  width: 427px;
  height: 308px;
  position: absolute;
  right: 408px;
  top: 58px;
  object-fit: cover;
}
.heroImageTwo {
  border-radius: 30px;
  border-style: solid;
  border-color: #043f2e;
  border-width: 5px;
  width: 410px;
  height: 273px;
  position: absolute;
  right: 275px;
  top: 280px;
  object-fit: cover;
}
.heroTitleContainer {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 275px;
  top: 58px;
  width: 538px;
  line-height: 130%;
}
.heroTitlePartOne {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 300;
}
.heroTitlePartTwo {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 800;
}
.heroDescription {
  color: #000000;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  left: 275px;
  top: 245px;
  width: 480px;
  height: 129px;
}
.heroImageThree {
  border-radius: 30px;
  border-style: solid;
  border-color: #043f2e;
  border-width: 5px;
  width: 450px;
  height: 253px;
  position: absolute;
  right: 520px;
  top: 488px;
  object-fit: cover;
}